body {
    font-family: Arial, sans-serif;
    max-width: 900px;
    margin: auto;
    padding: 30px;
    background: #f7f7f7;
}

h1 {
    text-align: center;
}

#resultat {
    margin-top: 30px;
    font-size: 18px;
    white-space: pre-line;
}

#map {
    height: 500px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
}

#resultat {
    margin-top: 20px;
}
